/* You can add global styles to this file, and also import other style files */
@import 'ngx-toastr/toastr';
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Urbanist", sans-serif;
  
  }
  
  html {
    font-size: 62.5%;
    /* 1rem = 10px  */
    
    scroll-behavior: smooth;
    /* scroll-snap-type: Y proximity; */
  }
  
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: "Poppins", sans-serif;
    color: rgb(8, 5, 0);
  }
  
  p,
  li,
  a,
  label {
    font-family: "Urbanist", sans-serif;
    font-size: 1.8rem;
    letter-spacing: 0.1rem;
    font-weight: 400;
    color: var(--para-color);
    line-height: 1.5;
  }
  
  a {
    text-decoration: none;
  }
  
  li {
    list-style: none;
  }
  
  /* theme */
  
  
  /* layout */
  
  body{
    background-color: #EEE;
  }
  
  